/*
        ========================================================
                            Beginner.css
        ========================================================
 */

.headingChest {
    display: flex;
    width: 100%;
    margin: 0 auto 3rem;
}

.headingChestTitleChest {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
    background-color: #0C4DA0;
}

.headingChestTitle {
    padding: 1.05rem;
    line-height: 1;
    color: #ffffff;
    font-size: 1.70rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.masterChestHeadingChest label {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1.05rem;
    font-size: 1.35rem;
    line-height: 1.1;
    word-wrap: break-word;
    font-weight: 600;
    color: #ffffff;
}

.masterChestRadioChest {
    display: flex;
    flex-wrap: wrap;
}

.masterChest .radio {

}

.masterChest .radio input[type="radio"] {

}

.masterChestRadioChest input[type="radio"] {

}

.masterChestRadioChest label {

}

.form-horizontal .control-group .controls {
    margin-left: 0;
}

.form-horizontal .control-group .control-label {
    width: 100%;
}

.projectForm {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

@media only screen and (max-width: 575px) {
    .projectForm {
        width: 100%;
    }
}

.projectForm legend {
    display: block;
    width: 100%;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.65rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1;
    padding: 0 0 0.5rem;
}

.projectForm input[type=text] {
    font-size: 1.15rem;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.projectForm textarea {
    resize: none;
    margin: 0 auto;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.15rem;
}

.projectForm select {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.15rem;
}

.buttonChest {
    width: 100%;
    margin: 1.25rem 0 auto;
    display: flex;
    flex: 3;
}

.buttonChest > button {
    flex: 3;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.gap {
    display: block;
    flex: 1;
}

.buttonChest .buttonSubmit {
    background-color: rgba(186, 214, 89, 1);
}

.buttonChest .buttonSubmit:hover {
    background-color: rgba(186, 214, 89, 0.5);
}

.buttonChest .buttonCancel {
    background-color: rgba(220, 20, 60, 1);
}

.buttonChest .buttonCancel:hover {
    background-color: rgba(220, 20, 60, 0.5);
}