/*
        ========================================================
                            Button Box
        ========================================================
 */

.projectForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectForm label {
    width: 80%;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.5rem auto 0.5rem;
}

.projectForm input[type=text] {
    margin: 0 auto;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.projectForm textarea {
    margin: 0 auto;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.projectForm select {
    margin: 0 auto;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.projectForm .buttonSubmit {
    width: 80%;
    margin: 1.5rem auto 0;
    background-color: rgba(186, 214, 89, 1);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: rgba(186, 214, 89, 0.5);
}

/**
.projectForm input[type=submit] {
    width: 80%;
    margin: 1.5rem auto 0;
    background-color: rgba(186, 214, 89, 1);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(186, 214, 89, 0.5);
}

 */