.projectChest {
    display: flex;
    margin-bottom: 75px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.projectDetails {
    width: 75%;
}

.projectTitle {
    line-height: 1;
    font-size: 2rem;
}

.projectCategory {
    font-size: 0.9rem;
    font-weight: 500;
}

.projectDescription {
    line-height: 1;
    padding: 1rem;
    font-size: 1rem;
    text-align: right;
    /*background-color: gold;*/
}

.buttonChest {
    flex: auto;
    display: flex;
    flex-direction: column;
    /*background-color: darkorange;*/
}

.buttonChest > button {
    flex: 1;
    border: none;
    font-size: 1.10rem;
    padding: 0.75rem;
}

.surveyButton {
    background-color: rgba(247, 165, 138, 1);
}

.surveyButton:hover {
    background-color: rgba(247, 165, 138, 0.5);
}

.metricsButton {
    background-color: rgba(149, 208, 171, 1);
}

.metricsButton:hover {
    background-color: rgba(149, 208, 171, 0.5);
}

.settingsButton {
    background-color: rgba(150, 144, 198, 1);
}

.settingsButton:hover {
    background-color: rgba(150, 144, 198, 0.5);
}