.introductionParagraph {
    font-size: 0.95rem;
    line-height: 1.5;
    border: 1px dotted #000;
    padding: 1rem;
    margin: 0 auto 3rem;
    width: 95%;
    /* text-align: center; */
}

.introductionParagraph a {
    font-weight: 700;
}

.introductionParagraph .people {
    font-weight: 700;
    color: rgb(247, 165, 138);
}

.introductionParagraph .technology {
    font-weight: 700;
    color: rgb(149, 208, 171);
}

.introductionParagraph .finance {
    font-weight: 700;
    color: rgb(150, 144, 198);
}

.projectSelection {
    display: flex;
    width: 90%;
    margin: 0 auto 1.25rem;
    border: 2px solid #0C4DA0;
}

.projectSelection h2 {
    flex: 1;
    align-self: center;
    color: white;
    background-color: #0C4DA0;
    padding: 0.55rem;
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: center;
}

.projectSelection select {
    flex: 3;
    font-size: 1.25rem;
    margin: 0 auto;
    align-self: center;
    line-height: 1;
    padding: 0;
    align-items: stretch;
    display: flex;
    height: 100% !important;
}




.headC {
    display: flex;
    width: 100%;
    margin: 0 auto 2.5rem;
}

.titlC {
    width: 90%;
    margin: 0 5% 0 auto;
    background-color: #0C4DA0;
    /* text-align: center; */
    /* line-height: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.titl {
    /* width: 90%; */
    /* margin: 0 auto; */
    padding: 1.05rem;
    font-size: 1.70rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    line-height: 1;
    /* word-wrap: break-word; */
    font-weight: 600;
    color: #ffffff;
}

.buttonCreate:before {
    content: '\FF0B';
}

.buttonCreate {
    width: 70px;
    height: 70px;
    /* margin: 0 auto; */
    font-size: 2.55rem;
    color: #ffffff;
    border: none;
    border-radius: 0.2rem;
    background-color: rgba(125, 201, 37, 1);
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif; */
    font-weight: 600;
}

.buttonCreate:hover {
    background-color: rgba(125, 201, 37, 0.5);
}

.buttonCreate:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.buttonCreate:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


.projectContainer {
    width: 95%;
    border-radius: 0.15rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto 65px;
}

.projectChest {
    width: 100%;
    display: flex;
    flex: 4;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    word-break: break-word;
}

.projectDetails, .buttonChest, .projectApproval {
    margin: 1.0rem;
}

.projectDetails {
    order: 1;
    flex: 4;
    padding: 1rem;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 17px 0 rgba(0,0,0,0.1);

    color: white;
    background-color: #0C4DA0;
}

.projectTitle {
    line-height: 1;
    font-size: 2rem;
}

.projectType {
    font-size: 0.9rem;
    font-weight: 500;
}

.projectDescription {
    line-height: 1;
    padding: 1rem;
    font-size: 1.1rem;
}

.projectApproval {
    flex: 4;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 17px 0 rgba(0,0,0,0.1);
    color: white;
    background-color: #0C4DA0;
}

.approvalCheck {
    margin-top: 10px;
    padding: 1rem;
    flex: 1;
}

.buttonChest {
    order: 2;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.buttonChest > button {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.10rem;
    padding: 0.95rem;
    color: white;

    -webkit-box-shadow: 4px 4px 17px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 17px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 17px 0px rgba(0,0,0,0.1);

    background-color: rgba(125, 201, 37, 1);
}

.buttonChest > button:hover {
    background-color: rgba(125, 201, 37, 0.5);
}

.buttonChest .settingsButton {
    background-color: rgba(150, 150, 150, 1);
}

.buttonChest .settingsButton:hover {
    background-color: rgba(150, 150, 150, 0.5);
}

.optionInput:not(:disabled) ~ .optionLabel .option::before {
    border-color: #000000;
}

@media only screen and (max-width: 550px) {
    .projectContainer {
        background-color: #0C4DA0;
        border-radius: 10px;
    }

    .projectDetails, .buttonChest, .projectApproval {
        margin: 0.5rem;
    }

    .projectChest {
        flex-direction: column;
    }

    .projectDetails {
        order: 1 !important;
    }

    .projectDescription, .approvalCheck {
        padding: 0.5rem;
    }

    .buttonChest {
        order: 2 !important;
    }

    .buttonChest > button, .projectDetails, .projectApproval {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}

/** Overriding optionsChest for Inactive Projects to have white text on blue background */

/*
.optionChest {
    --outlineColour: #ffffff;
    --optionColour: #ffffff;
}

.optionLabel {
    --labelColour: 255, 255, 255;
    color: #ffffff;
}

.option {
    color: #ffffff;
}
 */