/*
        ========================================================
                            Button Box
        ========================================================
 */

.buttonBox {
    align-self: center;
    width: 90%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button {
    width: 30%;
    margin: 0 auto;
    padding: 0.75em 0em;
    border: 0.16em solid #2dd280;
    color: #2dd280;
    background-color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.button:hover:enabled {
    color: #000;
    border-color: #000;
    background-color: #2dd280;
}

.button:active:enabled {
    color: #2dd280;
    border-color: #2dd280;
    background-color: #fff;
}

.button:disabled {
    cursor: not-allowed;
    color: #f45368;
    border-color: #f45368;
}

/*
        ========================================================
                     Project Activation Container
        ========================================================
 */

.projectActivationContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto auto 5em auto;

    border: 0.35em solid deeppink;
    border-radius: 0.75rem;

    box-shadow: 14px 15px 25px 0 rgba(80, 123, 251, 0.35);
    -webkit-box-shadow: 14px 15px 25px 0 rgba(80, 123, 251, 0.35);
    -moz-box-shadow: 14px 15px 25px 0 rgba(80, 123, 251, 0.35);

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.titleContainer {
    margin: 0 auto;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.title {
    margin: 0 auto;
    width: 95%;
    padding: 1.15rem 0 1.15rem 0;

    line-height: 1.1;
    font-size: 1.6em;
    font-weight: 600;
}

.questionsContainer {
    width: 90%;
    height: 100%;
    margin: 1rem auto 1rem auto;

    display: flex;
    flex-direction: column;

    --labelRadius: 10px;
    --choiceSize: 50px;
    --choiceBorderWidth: 2px;
    --choiceColour: #000000;
    --choiceIndent: 2em;
    --choiceTickWidth: 2px;
    --choiceTickColour: #ffffff;
    --labelColour: #ffffff;
    --choiceDisplay: inline-flex;

    /* outline */
    --outlineColour: #000000;
    --outlineWidth: 3px;
    --outlineOffset: 5px;

    /* disabled */
    --choiceCursorDisabled: not-allowed;
    --choiceOpacityDisabled: 0.24;

    /** for debug
    background-color: aliceblue;
     */
}

.questionContainer {
    margin: 1.5rem auto 1.5rem 0;
    display: var(--choiceDisplay);
    position: relative;
}

.question {
    margin: auto;
    color: #000000;
    line-height: 1.25;
    font-size: 1.3em;
    font-weight: 500;
}

.question::before {
    opacity: 0;
}

.questionInput {
    /*
      The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
    */
    width: var(--choiceSize);
    height: var(--choiceSize);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

/* 1. Calculation of the gap for the custom checkbox */
.questionLabel {
    display: inline-flex;
    min-height: var(--choiceSize);
    padding-left: calc(var(--choiceSize) + var(--choiceIndent));
}

.questionInput:not(:disabled) ~ .questionLabel {
    cursor: pointer;
}

/* 1. Ems helps to calculate size of the checkbox */
.questionLabel::before,
.questionLabel::after {
    content: "";
    box-sizing: border-box;

    /** Size of checkbox... */
    width: 1em;
    height: 1em;
    font-size: var(--choiceSize); /* 1 */

    /* can put margin-top here to move box, but then tick positioning is skewed */
    position: absolute;
    left: 0;
}

.questionLabel::before {
    border: var(--choiceBorderWidth) solid var(--choiceColour);
    z-index: 2;
}

.questionInput:not(:disabled) ~ .questionLabel::after {
    background-color: var(--choiceColour);
    opacity: 0;
}

.questionInput:not(:disabled):checked ~ .questionLabel::after {
    opacity: 1;
}

/* The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element choice
    1. Ems helps to calculate size and position of the arrow */
.questionInput:not(:disabled) ~ .questionLabel .question::before {
    content: "";
    width: 0;
    height: 0;
    font-size: var(--choiceSize); /* 1 */

    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--choiceTickColour);

    position: absolute;
    /** Useless? */
    top: .5428em;
    left: .25em;
    z-index: 3;

    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
}

.questionInput:not(:disabled):checked ~ .questionLabel .question::before {
    width: .4em;
    height: .2em;
    border-left-width: var(--choiceTickWidth);
    border-bottom-width: var(--choiceTickWidth);
}

/*
        ========================================================
                                States
        ========================================================
 */

/* focus state */
.questionContainer:focus-within {
    outline: var(--outlineWidth) solid var(--outlineColour);
    outline-offset: var(--outlineOffset);
}

/* The demo skin */
.questionLabel::before,
.questionLabel::after {
    border-radius: var(--labelRadius);
    background-color: var(--labelColour);
}

/* The animation of switching states */
.questionInput:not(:disabled) ~ .questionLabel::before,
.questionInput:not(:disabled) ~ .questionLabel::after {
    opacity: 1;
    transform-origin: center center;
    will-change: transform;
    transition: transform .2s ease-out;
}

.questionInput:not(:disabled) ~ .questionLabel::before {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.questionInput:not(:disabled) ~ .questionLabel::after {
    transform: rotateY(90deg);
}

.questionInput:not(:disabled):checked ~ .questionLabel::before {
    transform: rotateY(-90deg);
    transition-delay: 0s;
}

.questionInput:not(:disabled):checked ~ .questionLabel::after {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.questionInput:not(:disabled):checked ~ .questionLabel .question::before {
    opacity: 1;
    transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

/* disabled state */
.questionInput:disabled ~ .questionLabel {
    opacity: var(--choiceOpacityDisabled);
    cursor: var(--choiceCursorDisabled);
}