/*
        ========================================================
                              Survey.css

            - Overriding CSS elements from optionsChest.css
        ========================================================
 */

.headC {
    display: flex;
    width: 100%;
    margin: 0 auto 3rem;
}

.titlC {
    width: 90%;
    /** margin: 0 5% 0 auto; */
    margin-left: 5%;
    background-color: #0C4DA0;
    /* text-align: center; */
    /* line-height: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.titl {
    /* width: 90%; */
    /** margin: 0 5% 0 auto; */
    padding: 1.05rem;
    font-size: 1.70rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    line-height: 1;
    /* word-wrap: break-word; */
    font-weight: 600;
    color: #ffffff;
}

.buttonBack {
    width: 110px;
    height: 70px;
    font-size: 1.55rem;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    background-color: rgba(239, 62, 106, 1);
}

.buttonBack:hover {
    background-color: rgba(244, 113, 146, 0.5);
}

.buttonBack:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.buttonBack:focus {
    outline: thin dotted #444;
    /**outline: 5px auto -webkit-focus-ring-color;*/
    outline-offset: -2px;
}