* {
    --backgroundColor: 255, 255, 255;
}

.timeline {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.outer {
    float: left;
}

.inner {
    position: relative;
}

img {
    max-width: unset !important;
    max-height: 85vh;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}




.category {
    background-color: rgba(var(--backgroundColour), 0.25);
    height: 30vh;
    width: 100%;
}

.project {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border: 0.25rem solid white;
    background-color: rgba(var(--backgroundColour), 0.8);
    cursor: pointer;
}

.project * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.project img {
    width: 100%;
    height: 100%;
}

.project .name {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: auto;
    padding: 0.75rem 1.1rem;
    font-size: 1.1rem;
    color: white;
    background-color: #0C4DA0;
}

.project:hover .name {
    visibility: visible;
}