/*--------------------------------------------------/
                                     Timeline Plot /
-------------------------------------------------*/

.timeline {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.timeline .outer {
    float: left;
}

.timeline .inner {
    position: relative;
}

.timeline img {
    max-width: unset !important;
    max-height: 85vh;
}

.timeline .plot-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.timeline .plot {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border: 0.25rem solid darkgray;
    --colour: 255, 255, 255;
    background-color: rgba(var(--colour), 0.8);
    cursor: pointer;
}

.timeline .plot * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.timeline .plot img {
    width: 100%;
    height: 100%;
}

.timeline .plot .name {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: auto;
    padding: 0.75rem 1.1rem;
    font-size: 1.1rem;
    color: white;
    background-color: #0C4DA0;
}

.timeline .plot:hover .name {
    visibility: visible;
}