/*--------------------------------------------------/
                                  Joomla Overrides /
-------------------------------------------------*/

body {
    padding-top: 11px !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header {
    display: none;
}

.subhead-collapse.collapse {
    height: 0 !important;
    visibility: hidden !important;
}

@media screen and (max-width: 767px) {
    body {
        padding: 12px 0 0 0 !important;
    }

    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-fixed-top {
        position: fixed !important;
    }

    .btn,
    .btn-subhead {
        display: none !important;
    }
}

/*--------------------------------------------------/
                                           Heading /
-------------------------------------------------*/

.heading {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto 3rem;
    height: min-content;
    align-items: center;
    background-color: #0C4DA0;
}

.heading * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.heading h1,
.heading .metrics,
.heading .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
}

.heading h1 {
    flex: 1;
    margin: 0;
    padding: 0;
    color: white;
}

.heading .openSidebar,
.heading .create {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    cursor: pointer
}

.heading .openSidebar:hover,
.heading .create:hover {
    opacity: 0.5;
}

.heading .create {
    font-size: 2.5rem;
    background-color: mediumseagreen;
}

.searchBar {
    margin: 0 auto !important;
}

/*--------------------------------------------------/
                                     Admin Sidebar /
-------------------------------------------------*/
/* We might replace this custom sidebar
with with an overrode version of the JHTMLSidebar at some stage...
or do something with JLayouts. */

.sideNavigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0C4DA0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNavigation a {
    padding: 8px 8px 25px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sideNavigation a:hover {
    color: aliceblue;
}

.sideNavigation .closeButton {
    top: 0;
    right: 25px;
    font-size: 36px;
    text-align: right;
    margin-right: 2rem;
}

#main {
    transition: margin-left .5s;
    /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
    .sideNavigation {
        padding-top: 15px;
    }

    .sideNavigation a {
        font-size: 18px;
    }
}