.fragmentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px dashed #000000;
    margin: 0 auto;
}

.fragmentContainer a {
    margin: 1rem;
    padding: 1.25rem 0 1.25rem 2rem;
    background-color: #0C4DA0;
    font-size: 2rem;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.fragmentContainer a:hover {
    opacity: 0.5;
    color: #ffffff;
    border: 2px dashed #000000;
    text-decoration: none;
}
