table {
    width: 100%;
}

thead tr th {
    background-color: cornflowerblue;
    color: white;
    padding: 1.25rem;
    font-size: 1.25rem;
}

tbody tr td {
    text-align: center;
    background-color: lightskyblue;
    padding: 1rem;
    font-size: 1.1rem;
}