.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.task {
    width: 80%;
}

.task .heading {
    margin: 0 auto !important;
}

.task .heading .id {
    width: 5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
}

.task .heading h1 {
    /*margin-right: 5rem;*/
    justify-content: left;
    white-space: unset !important;
    word-break: break-word;
    min-height: 3.5rem;
    height: auto !important;
    padding: 0.4rem;
}