/*--------------------------------------------------/
                                  Joomla Overrides /
-------------------------------------------------*/

.form-horizontal .control-group .controls {
    margin-left: 0;
}

.form-horizontal .control-group .control-label {
    width: 100%;
}

.form-horizontal .control-group {
    margin: 0 !important;
}

:root {
    font-size: 16px !important;
}

/*--------------------------------------------------/
                                           Heading /
-------------------------------------------------*/

.heading {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto 3rem;
    height: min-content;
}

.heading h1,
.heading .metrics,
.heading .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    white-space: nowrap;
}

.heading h1 {
    flex: 1;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0C4DA0;
}

.heading .metrics,
.heading .back {
    width: 7rem;
    border: none;
    color: white;
    background-color: rgba(62, 106, 239, 1);
    text-decoration: none;
}

.heading .back {
    background-color: rgba(239, 62, 106, 1);
}

.heading .back:hover {
    background-color: rgba(244, 113, 146, 0.5);
}

.heading .back:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.heading .back:focus {
    outline: thin dotted #444;
    outline-offset: -2px;
}

.heading .metrics {
    background-color: rgba(62, 106, 239, 1);
}

.heading .metrics:hover {
    background-color: rgba(62, 106, 239, 0.5);
}

.heading .metrics:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.heading .metrics:focus {
    outline: thin dotted #444;
    outline-offset: -2px;
}

/*--------------------------------------
Modal
---------------------------------------*/

.pdModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.pdModal .content {
    position: relative;
    background-color: #fefefe;
    margin: 5vh auto auto;
    padding: 0;
    border: 1px solid #888;
    width: 60rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    justify-content: center;
}

.pdModal .content p {
    border: 1px solid #707070;
    width: 20rem;
    padding: 0.5rem;
    margin: 1rem auto;
}

.pdModal .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0C4DA0;
}

.pdModal .heading h1 {
    margin-left: 3.5rem;
}

.pdModal .heading span {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2.25rem;
    color: white;
    background-color: crimson;
    cursor: pointer;
}

.pdModal .heading span:hover {
    color: crimson;
    background-color: white;
    border: 0.1rem solid crimson;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/*--------------------------------------------------/
                                       projectForm /
-------------------------------------------------*/

.projectForm {
    margin: 0 0 5rem 0;
}

.projectForm * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.projectForm h1 {
    padding: 0.25rem 0;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.projectForm :not(h1) {
    font-size: 0.875rem !important;
}

.projectForm fieldset {
    margin: 0;
    padding: 0 2rem 2rem 2rem;
    border: 0.05rem solid #0C4DA0;
    border-radius: 0.2rem;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.projectForm label {
    display: block !important;
    text-align: left;
    margin: 0.75rem auto 0.5rem;
    line-height: 1;
}

.projectForm input[type=text],
.projectForm textarea,
.projectForm select {
    width: 100%;
    margin: 0 auto;
    border: 0.05rem solid #d9d9d9;
    border-radius: 0.1rem;
    box-sizing: border-box;
}

.projectForm input[type=text] {
    height: auto;
    padding: 0.75rem;
}

.projectForm textarea {
    resize: none;
    padding: 0.75rem;
    display: inline-block;
}

.projectForm select {
    height: 100%;
    padding: 0.5rem;
    display: inline-block;
}

.projectForm select:focus {
    outline: none;
}

.projectForm .submitButton {
    margin-top: 2rem;
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
    color: white;
    background-color: rgba(125, 201, 37, 1);
    border: 0.05rem solid #707070;
    border-radius: 0.25rem;
    cursor: pointer;
}

.projectForm .submitButton:hover {
    color: rgba(125, 201, 37, 1);
    background-color: white;
    border: 0.05rem solid rgba(125, 201, 37, 1)
}

/*--------------------------------------------------/
                                        dangerZone /
-------------------------------------------------*/

.dangerZone {
    margin: 2rem 0;
}

.dangerZone * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.dangerZone h1 {
    padding: 0.25rem 0;
    line-height: 1;
    font-size: 1.65rem;
    font-weight: 500;
    color: black;
}

.dangerZone .dangerContainer {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 0.05rem solid crimson;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.dangerContainer p {
    flex: 1;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.35rem;
}

.dangerButton {
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
    color: crimson;
    background-color: white;
    border: 0.05rem solid #707070;
    border-radius: 0.25rem;
}

.dangerButton:hover {
    color: white;
    background-color: crimson;
    border: 0.05rem solid crimson;
}