/*--------------------------------------------------/
                                  Joomla Overrides /
-------------------------------------------------*/

.form-horizontal .control-group .controls {
    margin-left: 0;
}

.form-horizontal .control-group .control-label {
    width: 100%;
}

.form-horizontal .control-group {
    margin: 0 !important;
}

:root {
    font-size: 16px !important;
}

/*--------------------------------------------------/
                                       projectForm /
-------------------------------------------------*/

.projectForm {
    margin: 0 0 0 0;
}

.projectForm * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.projectForm h1 {
    padding: 0.25rem 0;
    line-height: 1;
    font-size: 1.65rem;
    font-weight: 500;
    color: black;
}

.projectForm :not(h1) {
    font-size: 0.875rem !important;
}

.projectForm fieldset {
    margin: 0;
    padding: 0 2rem 2rem 2rem;
    border: 0.05rem solid #0C4DA0;
    border-radius: 0.2rem;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}

.projectForm label {
    display: block !important;
    text-align: left;
    margin: 0.75rem auto 0.5rem;
    line-height: 1;
}

.projectForm input[type=text],
.projectForm textarea,
.projectForm select {
    width: 100%;
    margin: 0 auto;
    border: 0.05rem solid #d9d9d9;
    border-radius: 0.1rem;
    box-sizing: border-box;
}

.projectForm input[type=text] {
    height: auto;
    padding: 0.75rem;
}

.projectForm textarea {
    resize: none;
    padding: 0.75rem;
    display: inline-block;
}

.projectForm select {
    height: 100%;
    padding: 0.5rem;
    display: inline-block;
}

.projectForm select:focus {
    outline: none;
}

.projectForm .submitButton {
    margin-top: 2rem;
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
    color: white;
    background-color: rgba(125, 201, 37, 1);
    border: 0.05rem solid #707070;
    border-radius: 0.25rem;
    cursor: pointer;
}

.projectForm .submitButton:hover {
    color: rgba(125, 201, 37, 1);
    background-color: white;
    border: 0.05rem solid rgba(125, 201, 37, 1)
}

/*--------------------------------------------------/
                                        dangerZone /
-------------------------------------------------*/

.dangerZone {
    margin: 2rem 0;
}

.dangerZone * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.dangerZone h1 {
    padding: 0.25rem 0;
    line-height: 1;
    font-size: 1.65rem;
    font-weight: 500;
    color: black;
}

.dangerZone .dangerContainer {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 0.05rem solid crimson;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}

.dangerContainer p {
    flex: 1;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.35rem;
}

.dangerContainer button {
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
    color: crimson;
    background-color: white;
    border: 0.05rem solid #707070;
    border-radius: 0.25rem;
}

.dangerous-stuff button:hover {
    color: white;
    background-color: crimson;
    border: 0.1rem solid crimson;
}